In [5]:
!pip install selenium

Requirement already satisfied: selenium in e:\anaconda\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in e:\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in e:\anaconda\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in e:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in e:\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: attrs>=19.2.0 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in e:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in e:\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in e:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in e:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [11]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings

warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver.exe")

In [22]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [10]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [11]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [12]:

experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name, 'Experience':experience_required})

In [16]:
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,ANZ,ANZ
1,Data Analyst,Bangalore/Bengaluru,ANZ,ANZ
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,AVE Promagne
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,Primo Hiring
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,Primo Hiring
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,Primo Hiring
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,AVE Promagne
7,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,Infogain
8,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,Coforge
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,Dpdzero

In [23]:
#Answer 2
driver.get("https://www.naukri.com/")

In [24]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [25]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]

In [28]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [29]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [30]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [33]:
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name})

In [34]:
df

,Title,Location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,"Manager, Data Solution Specialist","Bangalore/Bengaluru, Mumbai, New Delhi",Pfizer
2,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
3,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
4,Permanent Opportunity For Data scientist with AWS,"Hybrid - Bangalore/Bengaluru, Chennai, Coimbat...",Deloitte
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,R&D Specialist,Bangalore/Bengaluru,Nokia
7,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
8,Data Science Analyst,Bangalore/Bengaluru,Accenture
9,Data Scientist,Bangalore/Bengaluru,IBM

In [3]:
#Answer3
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
location_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[2]/div[1]/label/i')
location_filter.click()

In [9]:
salary_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[1]/label/i")
salary_filter.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [12]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [13]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [18]:
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in company_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [15]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [20]:
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name, 'Experience':experience_required})

ValueError: All arrays must be of the same length

In [21]:
df

,Title,Location,Company_name,Experience
0,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer,Pfizer
1,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,Fractal Analytics
2,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,Persistent
3,Opportunity | Data Scientist | Tavant India,"Noida, Kolkata, Hyderabad/Secunderabad, Bangal...",Tavant Technologies,Tavant Technologies
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Visakhapatnam, H...",Primo Hiring,Primo Hiring
5,Sr. Data Scientist - Python / ML / DL,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",AVE Promagne,AVE Promagne
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Mumbai, Hyderabad/Secunderabad, P...",Primo Hiring,Primo Hiring
7,Data Scientist- Python/ML/DL,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengal...",AVE Promagne,AVE Promagne
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Pune, Chennai, A...",Primo Hiring,Primo Hiring
9,Data Scientist with Retail Domain,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,TRH Consultancy Services

In [3]:
#Answer4
driver.get('https://www.flipkart.com/')

In [4]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [8]:
search_button = driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [10]:
brand_names = []
brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')

for i in brand_tags:
    brand = i.text
    brand_names.append(brand)

In [11]:
product_descriptions = []
product_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')

for i in product_tags:
    product_description = i.text
    product_descriptions.append(product_description)

In [12]:
prices = []
price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')

for i in price_tags:
    price = i.text
    prices.append(price)

In [13]:
print(len(brand), len(product_description), len(price))

13 52 4

In [15]:
#Answer 5

In [28]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART")

#URL link is not active.

In [3]:
#Answer 6
driver.get("https://www.flipkart.com/")

In [6]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [7]:
search_button = driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [21]:
brand_names = []
brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')

for i in brand_tags:
    brand = i.text
    brand_names.append(brand)

In [22]:
product_names = []
product_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')

for i in brand_tags:
    brand = i.text
    brand_names.append(brand)

In [23]:
price_names = []
price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')

for i in price_tags:
    price = i.text
    price_names.append(price)

In [17]:
df=pd.DataFrame({'Brand':brand_names, 'Product Description': product_description, 'price': price_names})

In [2]:
#Answer7
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver.exe")

In [3]:
driver.get('https://www.amazon.in/')

In [4]:
search_field = driver.find_element(By.ID, 'twotabsearchtextbox')
search_field.send_keys('Laptop')

In [5]:

search_icon = driver.find_element(By.XPATH, "//input[@value='Go']")
search_icon.click()

In [10]:
CPU=driver.find_element(By.CLASS_NAME,"a-size-base a-color-base")
CPU.click()

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0101DCE3+50899]
	(No symbol) [0x00FAE111]
	(No symbol) [0x00EB5588]
	(No symbol) [0x00E9D333]
	(No symbol) [0x00EFF4DB]
	(No symbol) [0x00F0DB33]
	(No symbol) [0x00EFB6F6]
	(No symbol) [0x00ED7708]
	(No symbol) [0x00ED886D]
	GetHandleVerifier [0x01283EAE+2566302]
	GetHandleVerifier [0x012B92B1+2784417]
	GetHandleVerifier [0x012B327C+2759788]
	GetHandleVerifier [0x010B5740+672048]
	(No symbol) [0x00FB8872]
	(No symbol) [0x00FB41C8]
	(No symbol) [0x00FB42AB]
	(No symbol) [0x00FA71B7]
	BaseThreadInitThunk [0x76110099+25]
	RtlGetAppContainerNamedObjectPath [0x77BD7B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77BD7B3E+238]

In [ ]:
#Answer 8

driver = webdriver.Chrome()

driver.get("https://www.azquotes.com/")

top_quotes_link = driver.find_element(By.LINK_TEXT, "Top Quotes")
top_quotes_link.click()

quotes = []
quote_elements = driver.find_elements(By.XPATH, "//div[@class='title']/a")
for element in quote_elements:
    quote = element.text
    quotes.append(quote)

authors = []
author_elements = driver.find_elements(By.XPATH, "//div[@class='title']/following-sibling::div[@class='author']/a")
for element in author_elements:
    author = element.text
    authors.append(author)

types = []
type_elements = driver.find_elements(By.XPATH, "//div[@class='title']/following-sibling::div[@class='author']/following-sibling::div[@class='qz-tags']/a")
for element in type_elements:
    quote_type = element.text
    types.append(quote_type)

data = {
    'Quote': quotes,
    'Author': authors,
    'Type': types
}
df = pd.DataFrame(data)

driver.quit()

print(df)

In [13]:
#Answer 9

driver = webdriver.Chrome()


driver.get("https://www.jagranjosh.com/")


driver.find_element_by_link_text("GK").click()
driver.find_element_by_link_text("List of all Prime Ministers of India").click()
data = []
table_rows = driver.find_elements_by_xpath("//table[@class='table4']//tr")
for row in table_rows[1:]:
    columns = row.find_elements_by_xpath(".//td")
    name = columns[0].text
    born_dead = columns[1].text
    term_of_office = columns[2].text
    remarks = columns[3].text
    data.append([name, born_dead, term_of_office, remarks])

df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])
driver.quit()
print(df)

In [ ]:
#Answer 10
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.Chrome()
driver.get("https://www.motor1.com/")

dropdown_menu = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CSS_SELECTOR, ".menu-toggle")))
dropdown_menu.click()

list_option = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.LINK_TEXT, "List")))
list_option.click()

expensive_cars_option = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.LINK_TEXT, "50 most expensive cars in the world")))
expensive_cars_option.click()

data = []
car_elements = WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, ".o-expandable-list__item")))
for car_element in car_elements:
    name = car_element.find_element(By.CSS_SELECTOR, ".title a").text
    price = car_element.find_element(By.CSS_SELECTOR, ".specs-price").text
    data.append([name, price])

df = pd.DataFrame(data, columns=['Car Name', 'Price'])

driver.quit()

print(df)